<h1>ユーザ一覧</h1>
<% if @users.empty? %>
  <p>ユーザはいません。</p>
<% else %>
  <table>
    <tr>
      <th>メール</th>
      <th>名称</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.mail %></td>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </table>
<% end %>
